/* Подключение шрифтов*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", "Arial", "sans-serif", ;
    font-size: 18px;
    line-height: 21px;
}

/*Подключение шрифтов главная страница*/

/*Навигация*/
.navigation-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 25,88px;
    color: #000000; 
    text-align: center;
    background-color: #fff;
    text-decoration: none;
}

.navigation-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20,7px;
    color: #FFFFFF;
    text-align: center;
    background-color: #FFFFFF;
    text-decoration: none;
}

/* Главаня страница: Шапка сайта*/
.container {
width:1200px;
}

/* Фон Welcome*/
.welcome-block{
    background-image: url("../img/background/index-bg.jpg");
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Блок приветствия*/
.small-town {
    font-family: inherit;;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000 ;
    text-align: center;
    text-transform: uppercase;
}

.five-reasons {
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #000000 ;
    text-align: center;
}

/* Приемущества*/
.advantages-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#FFFFFF;
    text-transform: uppercase;
}

.advantages-description {
    font-family:  inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:#FFFFFF;
}

.advantages-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase; 
}

/* Приемущества: Подключенные фоны*/
.true-town {
    background-image: url("../img/background/true-town-bg.png"); 
}

.devils-bridge {
    background-image: url("../img/background/devils-bridge-bg.png");
}

/* Поиск гостиницы*/
.search-hotel-question {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.travel-dates {
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.search-hotel-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

/* Рассылка*/
.mailing-main {
    background-image: url("../img/background/mailing-bg.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
}

.mailing-tittle {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.mailing-description {
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
}

.email-subsription {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}
 

.button-subscription {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF ;
    text-align: center;
    text-transform: uppercase;
}

/* Каталог: Фильтр отелей*/

.hotel-filter{
    background-image: url("../img/background/catalog-bg.jpg");
    background-repeat: no-repeat;   
    ;
}

.hotel-filter-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 60px;
    line-height: 77,64px;
    color: #FFFFFF;
}

.breadcrumbs-link-hotels {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20,7px;
    color: #FFFFFF;
    text-decoration: none;
}

.hotel-filter-tittle {
    font-family:  inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 25,88px;
    color: #FFFFFF;
}

.services-label {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23,29px;
    color: #FFFFFF;
}

.button-apply {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 25,88px;
    color:#FFFFFF;
}

.button-reset {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23,29px;
    color:#FFFFFF ;
}

.hotels-found {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 38,82px;
    color: #000000;
}

.select-control {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23,29px;
    color: #000000;
}

</* Каталог: Каталог гостинец */>

.hotel-card-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 31,06px;
    color: #000000;
}

.hotel-card-price {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23,29px;
    color: #000000;
}

.hotel-card-rating {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20,7px;
    color: #000000;
}

.button-card {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20,7px;
    color: #FFFFFF ;
}

.button-download-more {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 28,88px;
    color: #FFFFFF;
}

.hotels-on-page {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}