/* Общие теги*/
html {
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  width: 1200px;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 21px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: 0 none;
}

:focus {
  outline: none;
}


.main {
  width: 1200px;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Подключение шрифтов*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

/*Подключегие шрифтов: Навигация*/
.navigation-link,
.navigation-link-main {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 25, 88px;
  color: #000000;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  padding: 5px;
}



.button-favourites {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.7px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-more {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.navigation-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.7px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

/* Шрифты: Блок приветствия*/

.small-town {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.five-reasons {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

/* Приемущества*/

.heading {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title-one {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-description-one {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.advantages-title-one,
.advantages-title-two {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

/* Поиск гостиницы*/
.search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.travel-dates {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.search-hotel-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* E-mail рассылка*/

.mailing-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.mailing-tittle-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.mailing-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.mailing-description-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.email-subsription {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.button-subscription {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border: none;
}

/* Подключение шрифтов: Фильтр отелей*/

.hotels-sedona {
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
}

.hotel-filter-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 77, 64px;
  color: #ffffff;
}

.hotel-filter-tittle-type,
.hotel-filter-tittle-inf,
.catalog-filter-group-coast,
.filter-range-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.88px;
  color: #ffffff;
}

.breadcrumbs-link-hotels {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20, 7px;
  color: #ffffff;
  text-decoration: none;
}

.hotel-filter-tittle {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.88px;
  color: #ffffff;
}

.services-label,
.housing-label {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23, 29px;
  color: #ffffff;
}

.button-apply {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}

.button-reset {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  border: none;
}

.hotels-found {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23, 29px;
  color: #000000;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Подключение шрифтов: Каталог гостинец */

.hotel-card-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 31, 06px;
  color: #000000;
}

.hotel-card-price {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23, 29px;
  color: #000000;
}

.hotel-card-rating {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20, 7px;
  color: #000000;
}

.button-card {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20, 7px;
  color: #ffffff;
  border: none;
}

.button-download-more {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 28, 88px;
  color: #ffffff;
  border: none;
}

.hotels-on-page {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.button-favourites {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

/* Подключение сеток*/

.main-container {
  flex-grow: 1;
}

/*Сетки: Меню навигации*/
.header {
  display: flex;
}

.page-header {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.navigation-list {
  display: flex;
  width: 309px;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin-left: 71px;
  align-items: center;
  justify-content: space-between;
}

.navigation-item-main {
  display: flex;
  flex-wrap: wrap;
  width: 68px;
  margin: 0px;
  padding: 0px;
  align-items: center;
}


.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
}

.navigation-item-about {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.navigation-item-hotels {
  display: flex;
  width: 93px;
  justify-content: center;
  align-items: center;
}

.header-logo {
  margin-left: 151px;
}

.navigation-icon-list {
  display: flex;
  width: 70px;
  align-items: center;
  margin-left: 209px;
  align-items: space-between;
}

.navigation-icon-likes {
  margin-left: 21px;
  position: relative;
  top: -5px;
}

.navigation-item-button {
  display: flex;
}

.navigation-button {
  display: flex;
  width: 160px;
  height: 37px;
  margin-left: 20px;
  background-color: #756257;
  border-radius: 5px;
}

.navigation-button:hover {
  background-color: #615048;
}

.i-want-to:active {
  color: #ffffff;
  opacity: 0.3;
  border: none;
  outline: none;
}

.navigation-button:focus {
  background-color: #615048;
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.i-want-to {
  margin: auto;
  display: flex;
  width: 93px;
  height: 18px;
}

.navigation-icon {
  fill: #000000;
}

.icon-magnifier,
.icon-heart {
  padding: 5px;
}

.navigation-icon:hover {
  fill: #756257;
}

.icon-magnifier:focus {
  width: 18px;
  height: 18px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.navigation-icon:active .magnifier {
  fill: #756257;
  opacity: 0.3;
  border: none;
}

a:active {
  outline: none !important;
}

.icon-magnifier:focus .magnifier {
  fill: #615048;
  border: none;
  outline: none;
}

.icon-heart:focus .heart {
  fill: #615048;
}

.icon-heart:focus {
  width: 31px;
  height: 27px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}


/*Сетки: Блок приветствия*/
.welcome-screen {
  display: flex;
  flex-direction: column;
}

.welcome-block {
  background-image: url("../img/background/index-bg.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 458px;
}

.welcome-title {
  display: flex;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-top: 51px;
}

.divider {
  width: 120px;
  height: 57px;
}

.text-container {
  display: flex;
  flex-direction: column;
  height: 282px;
}

.small-town {
  width: 720px;
  height: 80px;
  margin-left: 240px;
}

.five-reasons {
  width: 720px;
  height: 37px;
  margin-left: 240px;
}

/*Сетки: приемущества*/

/*Сетки: приемущества - Первый блок*/

.advantages-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.true-town-container {
  display: flex;
  width: 1200;
  padding: 0;
  margin: 0;
}

.true-town-container-text {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  text-align: center;
}

.true-town-container-text-blue {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  background-image: url("../img/background/true-town-bg.png");
}

.advantages-title,
.advantages-title-one,
.advantages-title-two {
  margin-top: 98px;
  align-items: center;
  text-align: center;
}

.advantages-description-one,
.advantages-description-two {
  margin-top: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.advantages-number {
  margin-top: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #000000;
}

.advantages-description {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  text-align: center;
  color: #000000;
}

.advantages-description-two {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  text-align: center;
}

.advantages-description-one {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  text-align: center;
  color: #ffffff;
}

.true-town-container-photo {
  width: 800px;
  height: 384px;
}

.true-town-item {
  width: 400px;
  height: 60px;
  margin: 0 auto;
}

.true-town-number-one {
  width: 250px;
  height: 25px;
}

.true-town-description {
  width: 220px;
  height: 73px;
}

/*Сетки: приемущества - второй блок*/

.advantages-container-two {
  display: flex;
  width: 1200px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
}

.advantages-item,
.advantages-item,
.advantages-item {
  display: flex;
  flex-direction: column;
  height: 384px;
  width: 400px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}


.house-item {
  display: flex;
  flex-direction: column;
  margin-top: 89px;
}

.meal-item {
  display: flex;
  flex-direction: column;
  margin-top: 89px;
}

.souvenirs-item {
  display: flex;
  flex-direction: column;
  margin-top: 89px;
}

.true-town-container-two {
  display: flex;
  width: 1200px;
  flex-direction: row-reverse;
  margin-left: 0px;
  padding: 0;
  margin: 0;
}

.advantages-container-three {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

/*Сетки: поиск гостиницы*/

.search-hotel {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1200px;
}

.search-hotel-container {

  margin: 91px;
}

.button-serch {
  display: flex;
  justify-content: center;
}

.button-link {
  display: flex;
  width: 575px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #756257;
  border: none;
  justify-content: center;
  align-items: center;
}

.button-link:hover {
  background-color: #615048;
}

.button-link:focus {
  background: #615048;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
}

.search-hotel-button:active {
  color: #ffffff;
  opacity: 0.3;
}

/*Сетки: рассылка*/

.mailing-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1200px;
  background-image: url("../img/background/mailing-bg.jpg");
  background-repeat: no-repeat;
}

/*Сетки: подвал сайта*/

.page-footer {
  width: 1200px;
  min-height: 120px;
  margin-bottom: 50px;
}

.footer-social-container {
  display: flex;
  width: 1200px;
  min-height: 120px;
}

.social-container {
  display: flex;
  width: 107px;
  margin-left: 72px;
  margin-top: 50px;
  margin-bottom: 54px;
  justify-content: space-between;
}

.social-item {
  fill: #83B3D3;
  padding: 5px;
}

.social-item:hover {
  fill: #68A2CA;
}

.footer-social-item:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  box-sizing: border-box;
}

.social-item:active {
  opacity: 0.3;
}

.phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  margin-left: 252.9px;
}

.phone {
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.phone:hover {
  color: #756257;
}

.phone:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
}

.phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-logo {
  width: 115px;
  margin-left: 213px;
  margin-top: 42px;
}

.logo {
  fill: #000000;
}

.logo:hover {
  fill: #756257;
}

.logo-cont:focus {
  border: 3px solid #83B3D3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 18px;
  border-radius: 10px;
  box-sizing: border-box;
}

/*Страница каталога: фильтер отелей*/

.hotel-filter {
  display: flex;
  flex-direction: column;
  background-image: url(../img/background/catalog-bg.jpg);
  background-repeat: no-repeat;
  width: 1200px;
}

.hotels-of-sedona {
  display: flex;
  width: 585px;
  margin-top: 33px;
  margin-left: 71px;
}

.hotels-sedona {
  display: flex;
  align-items: flex-start;
}

.breadcrumbs-link-hotels {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style-type: none;
  width: 148px;
  height: 21px;
  margin-bottom: 45px;
  padding-left: 0px;
  margin-left: 73px;
  margin-top: 15px;
}

.breadcrumbs-item {
  fill: #ffffff;
}

.breadcrumbs-item-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 27px;
}

.breadcrumbs-link-home {
  padding-left: 5px;
  padding-right: 5px;
}

.breadcrumbs-item-hotels {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 27px;
}

.breadcrumbs-item-pointer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
}

.breadcrumbs-item:hover {
  fill: #ffffff;
  color: #ffffff;
}

.breadcrumbs-link-home:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link-hotels:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.filter-form {
  display: flex;
  width: 1200px;
  margin-bottom: 84px;
}

.catalog-filter-group-inf {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0;
  margin-left: 70px;
}

.hotel-filter-tittle-inf,
.hotel-filter-tittle-type {
  margin-bottom: 30px;
}

.catalog-filter-group-type {
  width: 120px;
  height: 150px;
  display: flex;
  padding: 0;
  margin-left: 67px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 150px;
}

.catalog-filter-item {
  display: flex;
  width: 120px;
  height: 23px;
  margin-bottom: 13px;
}

/* Блок с ползунками*/
.filter-range {
  width: 330px;
  color: #ffffff;
  margin-left: 120px;
}

.filter-range-title {
  margin-bottom: 9px;
  padding-top: 3px;
}

.price-controls {
  display: flex;
  position: relative;
  width: 287px;
  height: 36px;
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 2px;
  height: 2px;
  background: #ababab;
  border: 8px solid #ffffff;
}

.range-toggle-min {
  left: 4px;
}

.range-toggle-max {
  margin-left: 192px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 55px;
}

.button-apply {
  width: 160px;
  height: 48px;
  background-color: #83b3d3;
  border-radius: 4px;
  border: none;
}

.button-apply:hover {
  background-color: #68A2CA;
  border-radius: 4px;
}

.button-apply:focus {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.apply:active {
  color: #FFFFFF;
  opacity: 0.3;
}


.button-reset {
  display: flex;
  width: 100px;
  height: 32px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 45px;
  border: none;
}

.reset {
  width: 80px;
  height: 10px;
  padding-bottom: 15px;
}

.reset-button-container {
  color: #ffffff;
}

.reset-button-container {
  display: flex;
  align-items: center;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.reset:active {
  color: #FFFFFF;
  opacity: 0.3;
}


/*Страница каталога: сортировка гостиниц*/

.sorting-hotels {
  display: flex;
  width: 1200px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sorting-type {
  display: flex;
  width: 1200px;
  min-height: 48px;
  margin-right: 0;
  align-items: center;
}

.hotels-found {
  margin-top: 20px;
  width: 337px;
  height: 48px;
  margin-bottom: 17px;
  margin-left: 71px;
}

.select-control {
  width: 287px;
  height: 48px;
  margin-left: 170px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 48px;
  margin-left: 115px;
}

.button-cards-icon {
  stroke: #E6E6E6;
}

.button-cards-icon path {
  fill: #000000;
}

.button-cards-icon:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}



/*Страница каталога: каталог гостиниц*/

dd {
  margin: 0px;
}

dl {
  margin: 0px;
}

h3 {
  margin: 0px;
}

.catalog-container-amara,
.catalog-container-desert,
.catalog-container-villas,
.catalog-container-green {
  display: flex;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: grid;
  grid-template-columns: 180px 370px 506px;
  grid-template-rows: 32px auto;
}

.name-hotel {
  display: flex;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0px;
}

.card,
.card-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card-image {
  display: block;

}

.card-image:hover {
  opacity: 0.6;
}

.card-image:focus {
  width: 180px;
  height: 120px;
  border: 3px solid #83B3D3;
}

.card-image:active {
  outline: none;
  border: none;
  opacity: 0.6;
}


.card-info {
  display: grid;
  grid-template-columns: 239px;
  grid-template-rows: 15px;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: start;
}

.card-info-amara {
  display: flex;
  justify-content: start;
  width: 280px;
  margin-left: 37px;

}

.name-hotel {
  width: 180px;
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: 40px;
}

.name-hotel-inn {
  width: 150px;
}

.name-hotel-amara,
.name-hotel-diablo {
  width: 220px;
}

.name-hotel:hover {
  cursor: pointer;
  color: #756257;
}

.name-hotel:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.name-hotel:active {
  color: #756257;
  opacity: 0.3;
}

.card-stats {
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
}

.hotel {
  width: 79px;
  height: 23px;
  margin-left: 40px;
}

.price {
  width: 79px;
  height: 23px;
  margin-left: 8px;
}

.card-button-more {
  display: flex;
  width: 151px;
  height: 37px;
  align-items: center;
  justify-content: center;
  margin-left: 37px;
  background-color: #756257;
  border-radius: 4px;
  margin-top: 25px;
}

.card-button-favourites {
  display: flex;
  width: 160px;
  height: 37px;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  background-color: #83b3d3;
  border-radius: 4px;
  margin-top: 25px;
  border: none;
}

.card-button-favourites-green {
  display: flex;
  width: 160px;
  height: 37px;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  background-color: #7db54f;
  border-radius: 4px;
  margin-top: 25px;
  border: none;
}

.card-button-brown:hover {
  background: #615048;
  border-radius: 4px;
}

.card-button-more:focus {
  background: #615048;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.card-button-blue:hover {
  background: #68A2CA;
  ;
  border-radius: 4px;
}

.card-button-favourites:focus {
  border: 3px solid #615048;
  border-radius: 4px;
}

.card-button-green:hover {
  background: #6C9E42;
  border-radius: 4px;
}

.card-button-favourites-green:focus {
  border: 3px solid #615048;
  border-radius: 4px;
}

.button-more:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.button-favourites:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.card-star {
  display: flex;
  justify-content: end;
}

.icon-star-villas {
  justify-content: space-around;
  display: flex;
  width: 43px;
  height: 17px;
  margin-right: 50px;
  margin-top: 5px;
}

.icon-star {
  justify-content: space-evenly;
  display: flex;
  width: 91px;
  height: 17px;
  margin-right: 20px;
  margin-top: 5px;
}

.star {
  width: 18px;
  height: 17px;
  background-image: url("../img/icon/star-one.svg");
  background-repeat: no-repeat;
}

.card-button-rating {
  display: flex;
  width: 160px;
  height: 37px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-left: 350px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.catalog-container-desert,
.catalog-container-villas,
.catalog-container-green {
  margin-top: 58px;
}

.button-download {
  display: flex;
  margin-top: 60px;
  width: 625px;
  height: 55px;
  margin-left: 288px;
  margin-right: 287px;
  margin-bottom: 31px;
  background-color: #83b3d3;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

/*Пагинация*/
.pagination-container {
  display: flex;
  width: 1056px;
  height: 56px;
  margin-top: 61px;
  justify-content: center;
  margin-left: 72px;
}

.pagination {
  height: 56px;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.pagination-item {
  display: flex;
  width: 56px;
  height: 56px;
  margin-right: 7px;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pag-one-number {
  fill: #000000;
}

.pag-number {
  fill: #ffffff;
}

.pag-one-bg {
  fill: #F2F2F2;
}

.pag-bg {
  fill: #83B3D3;
}

.pag-element {
  fill: #ffffff;
}

.pag-one-bg:hover {
  fill: #68A2CA;
  border-radius: 4px;
}

.pag-bg:hover {
  fill: #68A2CA;
  border-radius: 4px;
}

.pagination-current:focus {
  display: block;
  width: 55px;
  height: 55px;
  border: 3px solid #756257;
  border-radius: 4px;
}

.pagination-link:focus {
  display: block;
  width: 55px;
  height: 55px;
  border: 3px solid #756257;
  border-radius: 4px;
}

.pag-number:active {
  fill: #000000;
}

.pag-one-bg:active {
  fill: #F2F2F2;
  border-radius: 4px;
}

.pag-bg:active {
  fill: #F2F2F2;
  border-radius: 4px;
}


.pagination-form {
  display: flex;
  margin-left: auto;
  width: 386;
  height: 48px;
  align-self: center;
}

.pagination-found {
  width: 175;
  height: 23px;
  margin-right: 51px;
  align-self: center;
}

.select {
  width: 160px;
  height: 48px;
  border: 1px solid gray;
  border-radius: 5px;
}

/*Рассыка*/

.mailing-main-catalog {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1200px;
  background-color: #ffffff;
}

.mailing-container {
  width: 800px;
  margin-top: 89px;
  margin-left: 200px;
  margin-bottom: 137px;
}

.mailing-description-catalog {
  margin-top: 15px;
  margin-bottom: 26px;
}


.mailing-form {
  display: grid;
  grid-template-columns: 1fr 200px;
  width: 800px;
  height: 60px;
  box-sizing: border-box;
}

.mailing-form input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0.5px solid grey;
}

.mailing-form button {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-subscription:hover {
  background: #68A2CA;
  border-radius: 0px 10px 10px 0px;
}

.button-subscription:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}

.button-text:active {
  color: #FFFFFF;
  opacity: 0.3;
  border: none;
}

.email-subsription:hover {
  background: #E6E6E6;
}

.mailing-form input:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}


input[type="email"]:active {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
