/* Главаня страница: Шапка сайта*/
.container {
width:1200px;
}
.welcome-block{
    background-image: url("../img/background/index-bg.jpg");
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Приемущества*/
.true-town {
    background-image: url("../img/background/true-town-bg.png"); 
}

.devils-bridge {
    background-image: url("../img/background/devils-bridge-bg.png");
   
}

/* Рассылка*/
.mailing {
    background-image: url("../img/background/mailing-bg.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
}

/* Каталог: Шапка сайта*/

.inner-header{
    background-image: url("../img/background/catalog-bg.jpg");
    background-repeat: no-repeat;    
}


